# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore model and data files if not needed
*.pkl

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore environment variable files
.env
